# 🔧 Arquivos e pastas geradas pelo NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# 🚀 Arquivos gerados pelo Spring Boot / Maven
target/
*.jar
mvnw
mvnw.cmd

# ⚠️ (Opcional) Ignorar arquivos de sistema ou editores de código
*.log
*.class
.idea/
.vscode/