# =====================================
# ⚙️ Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# 🔧 Configuração do Eclipse
.project
.classpath
.settings/

# 🧠 Configuração do IntelliJ IDEA
*.iml
.idea/
out/

# 🪟 Arquivos do sistema
.DS_Store
Thumbs.db

# 🔒 Arquivos sensíveis
src/main/resources/application.yml
src/main/resources/application.properties
.env

# 🔍 Logs e temp
*.log
*.tmp
*.bak

# 🔧 Build wrapper
/build/
.gradle/